body{
    background-color: rgb(163, 109, 116);
    margin-left: 5em;
    margin-right: 3em;
    margin-top: 5em;
    
}

form{
    border: 1px solid black;
    margin: 10vh;
    padding: 2rem 27rem 2rem;
    background-color: rgb(243, 205, 210);

}

a{
    color: rgb(56, 53, 53);
}


