body{
    width: 50%;
    margin: auto;
}

table{
    border: 1px solid black;
    border-collapse: collapse; 
    margin: 50px; 
    width: 60%;
}

tbody{
    border: 1px solid black;
}


td{
    background-color: white;
    border: 1px solid black;
    padding: 9px; 
    height: 10px;
}

.noir{
    background-color: black;
}
.marronfonce{
    background-color: rgb(63, 53, 49);
}
.marronclair{
    background-color: rgb(97, 79, 69);
}
.peau{
    background-color: rgb(241, 171, 145);
}
.peaufonce{
    background-color: rgb(243, 152, 119);
}
.vertolive{
    background-color: rgba(38, 61, 36, 0.801);
}
.vertsapin{
    background-color: rgba(105, 143, 102, 0.801);
}
.vertclair{
    background-color: rgba(117, 206, 110, 0.801);
}
.creme{
    background-color: rgb(247, 225, 217);
}
.cappucino{
    background-color:rgb(139, 76, 53);
}
.cafe{
    background-color: rgb(116, 51, 27);
}
.jaune{
    background-color: rgb(201, 170, 36);
}
.vertfonce{
    background-color: rgb(41, 56, 40);
}
.chataigne{
    background-color: rgba(170, 96, 62, 0.801);
}
.marronclaire{
    background-color: rgba(112, 76, 65, 0.801);
}
.marronclaire2{
    background-color: rgba(121, 80, 54, 0.801);
}